
/*Ese tipo de selector es para un identificador del bloque de html*/
.Col-land{
    font-size: 50px;
    font-weight: 300;
}

.centrar{
    display: flex;
    align-items: center;
}

.zise-img{
    height: 230px !important;
    width: 400 !important;
}