
/*Ese tipo de selector es para un identificador del bloque de html*/
.Col-land{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    border: 1px solid red;
}

.img-car{
    height: auto;
    width: auto;
}